// @mixin trbl
// @description 要素の中央配置（画像以外は$widthと$heightの指定が必須）
// @param $width {Number} 数値
// @param $height {Number} 数値

@mixin trbl($width: null, $height: null) {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: $width;
	height: $height;
	margin: auto;
}
