### npm ###
node_modules

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Vim Commands
:*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Ruby ###
.bundle
vendor
Gemfile.lock

### SASS ###
### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache
